@media (max-width:993px) {
    nav {
        width: 768px;
    }
    nav ul {
        gap: 15px;
    }
    nav img {
        width: 105px;
    }
    main {
        width: 768px;
    }
    #container {
        grid-template-columns: auto;
        gap: 0px !important;
    }
}